body{
    background-color: #bdbb9a;
    color: rgb(36, 35, 35);
}
#con {
    width: 900px;
    height: 300px;
    background-color: rgb(201, 182, 124);
    margin: auto;
}
#form {
    padding: 15px;
    margin: auto;
}
#tit {
    text-align: center;
    background-color: rgb(231, 216, 174);
    width: 200px;
    padding: 5 1px;
    height: 35px;
}
