* {
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 2px;

}

header {
    padding: 50px;
    background-color:white;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
}

nav a {
    color: brown;
    padding: 14px 20px;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    background-color: rgb(238, 230, 221);
    padding: 20px;
    flex: 30px;
}

section {
    background-color: rgb(239, 235, 206);
    flex: 70%;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(239, 235, 215);
}

@media screen and (max-width:700px) {

    nav,.row {
        flex-direction: column;
    }
    p {text-align: justify;}
    body {background-color: black;}
}

