* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    }
    
    body {
    
        background-color: #e6edd9;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
       
    
    }
    
    .container {
    
        max-width: 1110px;
        margin: 0 auto;
    
    }
    .encabezado {
    
        padding: 32px 0;
        background-color: #6c844e;
    }
    
    .menu {
    
        position: absolute;
        top:0;
        left:0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index :1000;
    }
    .logo {
        font-size: 30px;
        color: aqua;
        font-weight: 800;
        text-transform: uppercase;
    }
    
    .menu .navbar ul li {
        position: relative;
        float: left;
    }
    .menu .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color:white;
        display: block;  
    
    }
    .menu .navbar ul li a:hover {
    
        color: aquamarine;
    }
    #menu {
      display: none;
    
    }
    .menu-icono {
        width: 25px;
    }
    .menu label {
    
        cursor:pointer;
        display: none;
    }
    
    @media(max-width:990px){
    
    .menu{
    
        padding: 30px;
    }
    .menu label {
    
        display: initial;
    }
    .encabezado {
    
        padding: 47px;
    }
    
    .menu .navbar {
    
    position: absolute;
    top: 100%;
    left: 0;
    right:0;
    background-color: #2A394F;
    display: none;
    
    }
    .menu .navbar  ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
      }
    }
    
    /* grid 
    */
    
    .grid-layout {
      display: grid;
      grid-template-columns: 10%  50% 20%;
    
    grid-gap: 5em;
      background-color:lightgreen; 
      border: 1px solid black;
      grid-template-areas: 'seccion seccion';
      grid-template-areas: 'aside asid ';
      grid-template-areas: 'pie pie';
    
    
    
    }
    body{
        background-color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align:center ;
    }
    
    .Grid-Layou{
       height:650px ;
       display: grid;
       grid-template-areas:  'cabecera cabecera'
                             'menu menu' 
                             'contenido lateral'
                             'footer footer';
       grid-template-rows:15% 10% auto 10% ;
       background-color:lightgreen; 
       border: 1px solid black;
    }
    
    
    .Caja {
        
        border: 2px solid black;
        background-color:lightgray ;
        text-align: center;
        padding: 20px;
       
    }
    
    
    .seccion{
       
        grid-area: seccion;
         background-color: aqua;
    }
    .aside{
    
       grid-area:  aside;
       background-color: blue;
    }
    
    .pie{
    
       grid-area: pie;
       background-color: blueviolet;
    
    }
    
    
    
    .C4{
    
     grid-area: lateral;
     background-color:whitesmoke;
    
    }
    
    
    
    .C5{
    
        grid-area: footer ;
        background-color: white ;
       
    }
    
    
    
    