* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/fondo.jpg');
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 4px;
    background: #99D6F3;
    box-shadow: 7px 7px 20px black;
}

.campos {
    width: 130px;
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 30px;
    margin-right: 10px;
    border: 1px;
}


.label-container .campos {
    text-align: center;
    background-color: #99D6F3;
    color: black;
    font-size: 15pxpx;
}
button {
    width: 45%;
    padding: 5px;
    margin: 10px;
}

